## 1.先import csv模組，然後打開查看iris資料集

In [1]:
import csv

In [2]:
with open('iris/iris.csv', newline='') as csvfile:

  rows = csv.reader(csvfile)

  for row in rows:
    print(row)

['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']
['1', '5.1', '3.5', '1.4', '0.2', 'Iris-setosa']
['2', '4.9', '3.0', '1.4', '0.2', 'Iris-setosa']
['3', '4.7', '3.2', '1.3', '0.2', 'Iris-setosa']
['4', '4.6', '3.1', '1.5', '0.2', 'Iris-setosa']
['5', '5.0', '3.6', '1.4', '0.2', 'Iris-setosa']
['6', '5.4', '3.9', '1.7', '0.4', 'Iris-setosa']
['7', '4.6', '3.4', '1.4', '0.3', 'Iris-setosa']
['8', '5.0', '3.4', '1.5', '0.2', 'Iris-setosa']
['9', '4.4', '2.9', '1.4', '0.2', 'Iris-setosa']
['10', '4.9', '3.1', '1.5', '0.1', 'Iris-setosa']
['11', '5.4', '3.7', '1.5', '0.2', 'Iris-setosa']
['12', '4.8', '3.4', '1.6', '0.2', 'Iris-setosa']
['13', '4.8', '3.0', '1.4', '0.1', 'Iris-setosa']
['14', '4.3', '3.0', '1.1', '0.1', 'Iris-setosa']
['15', '5.8', '4.0', '1.2', '0.2', 'Iris-setosa']
['16', '5.7', '4.4', '1.5', '0.4', 'Iris-setosa']
['17', '5.4', '3.9', '1.3', '0.4', 'Iris-setosa']
['18', '5.1', '3.5', '1.4', '0.3', 'Iris-setosa']
['19', '5.7', '3.8', '1.7', '0.3', 'Iris-setosa']
['20', '5.1', '3.8', '1.5', '0.3', 'Iris-setosa']
['21', '5.4', '3.4', '1.7', '0.2', 'Iris-setosa']
['22', '5.1', '3.7', '1.5', '0.4', 'Iris-setosa']
['23', '4.6', '3.6', '1.0', '0.2', 'Iris-setosa']
['24', '5.1', '3.3', '1.7', '0.5', 'Iris-setosa']
['25', '4.8', '3.4', '1.9', '0.2', 'Iris-setosa']
['26', '5.0', '3.0', '1.6', '0.2', 'Iris-setosa']
['27', '5.0', '3.4', '1.6', '0.4', 'Iris-setosa']
['28', '5.2', '3.5', '1.5', '0.2', 'Iris-setosa']
['29', '5.2', '3.4', '1.4', '0.2', 'Iris-setosa']
['30', '4.7', '3.2', '1.6', '0.2', 'Iris-setosa']
['31', '4.8', '3.1', '1.6', '0.2', 'Iris-setosa']
['32', '5.4', '3.4', '1.5', '0.4', 'Iris-setosa']
['33', '5.2', '4.1', '1.5', '0.1', 'Iris-setosa']
['34', '5.5', '4.2', '1.4', '0.2', 'Iris-setosa']
['35', '4.9', '3.1', '1.5', '0.1', 'Iris-setosa']
['36', '5.0', '3.2', '1.2', '0.2', 'Iris-setosa']
['37', '5.5', '3.5', '1.3', '0.2', 'Iris-setosa']
['38', '4.9', '3.1', '1.5', '0.1', 'Iris-setosa']
['39', '4.4', '3.0', '1.3', '0.2', 'Iris-setosa']
['40', '5.1', '3.4', '1.5', '0.2', 'Iris-setosa']
['41', '5.0', '3.5', '1.3', '0.3', 'Iris-setosa']
['42', '4.5', '2.3', '1.3', '0.3', 'Iris-setosa']
['43', '4.4', '3.2', '1.3', '0.2', 'Iris-setosa']
['44', '5.0', '3.5', '1.6', '0.6', 'Iris-setosa']
['45', '5.1', '3.8', '1.9', '0.4', 'Iris-setosa']
['46', '4.8', '3.0', '1.4', '0.3', 'Iris-setosa']
['47', '5.1', '3.8', '1.6', '0.2', 'Iris-setosa']
['48', '4.6', '3.2', '1.4', '0.2', 'Iris-setosa']
['49', '5.3', '3.7', '1.5', '0.2', 'Iris-setosa']
['50', '5.0', '3.3', '1.4', '0.2', 'Iris-setosa']
['51', '7.0', '3.2', '4.7', '1.4', 'Iris-versicolor']
['52', '6.4', '3.2', '4.5', '1.5', 'Iris-versicolor']
['53', '6.9', '3.1', '4.9', '1.5', 'Iris-versicolor']
['54', '5.5', '2.3', '4.0', '1.3', 'Iris-versicolor']
['55', '6.5', '2.8', '4.6', '1.5', 'Iris-versicolor']
['56', '5.7', '2.8', '4.5', '1.3', 'Iris-versicolor']
['57', '6.3', '3.3', '4.7', '1.6', 'Iris-versicolor']
['58', '4.9', '2.4', '3.3', '1.0', 'Iris-versicolor']
['59', '6.6', '2.9', '4.6', '1.3', 'Iris-versicolor']
['60', '5.2', '2.7', '3.9', '1.4', 'Iris-versicolor']
['61', '5.0', '2.0', '3.5', '1.0', 'Iris-versicolor']
['62', '5.9', '3.0', '4.2', '1.5', 'Iris-versicolor']
['63', '6.0', '2.2', '4.0', '1.0', 'Iris-versicolor']
['64', '6.1', '2.9', '4.7', '1.4', 'Iris-versicolor']
['65', '5.6', '2.9', '3.6', '1.3', 'Iris-versicolor']
['66', '6.7', '3.1', '4.4', '1.4', 'Iris-versicolor']
['67', '5.6', '3.0', '4.5', '1.5', 'Iris-versicolor']
['68', '5.8', '2.7', '4.1', '1.0', 'Iris-versicolor']
['69', '6.2', '2.2', '4.5', '1.5', 'Iris-versicolor']
['70', '5.6', '2.5', '3.9', '1.1', 'Iris-versicolor']
['71', '5.9', '3.2', '4.8', '1.8', 'Iris-versicolor']
['72', '6.1', '2.8', '4.0', '1.3', 'Iris-versicolor']
['73', '6.3', '2.5', '4.9', '1.5', 'Iris-versicolor']
['74', '6.1', '2.8', '4.7', '1.2', 'Iris-versicolor']
['75', '6.4', '2.9', '4.3', '1.3', 'Iris-versicolor']
['76', '6.6', '3.0', '4.4', '1.4', 'Iris-versicolor']
['77', '6.8', '2.8', '4.8', '1.4', 'Iris-versicolor']
['78', '6.7', '3.0', '5.0', '1.7', 'Iris-versicolor']
['79', '6.0', '2.9', '4.5', '1.5', 'Iris-versicolor']
['80', '5.7', '2.6', '3.5', '1.0', 'Iris-versicolor']
['81', '5.5', '2.4', '3.8', '1.1', 'Iris-versicolor']
['82', '5.5', '2.4', '3.7', '1.0', 'Iris-versicolor']
['83', '5.8', '2.7', '3.9', '1.2', 'Iris-versicolor']
['84', '6.0', '2.7', '5.1', '1.6', 'Iris-versicolor']
['85', '5.4', '3.0', '4.5', '1.5', 'Iris-versicolor']
['86', '6.0', '3.4', '4.5', '1.6', 'Iris-versicolor']
['87', '6.7', '3.1', '4.7', '1.5', 'Iris-versicolor']
['88', '6.3', '2.3', '4.4', '1.3', 'Iris-versicolor']
['89', '5.6', '3.0', '4.1', '1.3', 'Iris-versicolor']
['90', '5.5', '2.5', '4.0', '1.3', 'Iris-versicolor']
['91', '5.5', '2.6', '4.4', '1.2', 'Iris-versicolor']
['92', '6.1', '3.0', '4.6', '1.4', 'Iris-versicolor']
['93', '5.8', '2.6', '4.0', '1.2', 'Iris-versicolor']
['94', '5.0', '2.3', '3.3', '1.0', 'Iris-versicolor']
['95', '5.6', '2.7', '4.2', '1.3', 'Iris-versicolor']
['96', '5.7', '3.0', '4.2', '1.2', 'Iris-versicolor']
['97', '5.7', '2.9', '4.2', '1.3', 'Iris-versicolor']
['98', '6.2', '2.9', '4.3', '1.3', 'Iris-versicolor']
['99', '5.1', '2.5', '3.0', '1.1', 'Iris-versicolor']
['100', '5.7', '2.8', '4.1', '1.3', 'Iris-versicolor']
['101', '6.3', '3.3', '6.0', '2.5', 'Iris-virginica']
['102', '5.8', '2.7', '5.1', '1.9', 'Iris-virginica']
['103', '7.1', '3.0', '5.9', '2.1', 'Iris-virginica']
['104', '6.3', '2.9', '5.6', '1.8', 'Iris-virginica']
['105', '6.5', '3.0', '5.8', '2.2', 'Iris-virginica']
['106', '7.6', '3.0', '6.6', '2.1', 'Iris-virginica']
['107', '4.9', '2.5', '4.5', '1.7', 'Iris-virginica']
['108', '7.3', '2.9', '6.3', '1.8', 'Iris-virginica']
['109', '6.7', '2.5', '5.8', '1.8', 'Iris-virginica']
['110', '7.2', '3.6', '6.1', '2.5', 'Iris-virginica']
['111', '6.5', '3.2', '5.1', '2.0', 'Iris-virginica']
['112', '6.4', '2.7', '5.3', '1.9', 'Iris-virginica']
['113', '6.8', '3.0', '5.5', '2.1', 'Iris-virginica']
['114', '5.7', '2.5', '5.0', '2.0', 'Iris-virginica']
['115', '5.8', '2.8', '5.1', '2.4', 'Iris-virginica']
['116', '6.4', '3.2', '5.3', '2.3', 'Iris-virginica']
['117', '6.5', '3.0', '5.5', '1.8', 'Iris-virginica']
['118', '7.7', '3.8', '6.7', '2.2', 'Iris-virginica']
['119', '7.7', '2.6', '6.9', '2.3', 'Iris-virginica']
['120', '6.0', '2.2', '5.0', '1.5', 'Iris-virginica']
['121', '6.9', '3.2', '5.7', '2.3', 'Iris-virginica']
['122', '5.6', '2.8', '4.9', '2.0', 'Iris-virginica']
['123', '7.7', '2.8', '6.7', '2.0', 'Iris-virginica']
['124', '6.3', '2.7', '4.9', '1.8', 'Iris-virginica']
['125', '6.7', '3.3', '5.7', '2.1', 'Iris-virginica']
['126', '7.2', '3.2', '6.0', '1.8', 'Iris-virginica']
['127', '6.2', '2.8', '4.8', '1.8', 'Iris-virginica']
['128', '6.1', '3.0', '4.9', '1.8', 'Iris-virginica']
['129', '6.4', '2.8', '5.6', '2.1', 'Iris-virginica']
['130', '7.2', '3.0', '5.8', '1.6', 'Iris-virginica']
['131', '7.4', '2.8', '6.1', '1.9', 'Iris-virginica']
['132', '7.9', '3.8', '6.4', '2.0', 'Iris-virginica']
['133', '6.4', '2.8', '5.6', '2.2', 'Iris-virginica']
['134', '6.3', '2.8', '5.1', '1.5', 'Iris-virginica']
['135', '6.1', '2.6', '5.6', '1.4', 'Iris-virginica']
['136', '7.7', '3.0', '6.1', '2.3', 'Iris-virginica']
['137', '6.3', '3.4', '5.6', '2.4', 'Iris-virginica']
['138', '6.4', '3.1', '5.5', '1.8', 'Iris-virginica']
['139', '6.0', '3.0', '4.8', '1.8', 'Iris-virginica']
['140', '6.9', '3.1', '5.4', '2.1', 'Iris-virginica']
['141', '6.7', '3.1', '5.6', '2.4', 'Iris-virginica']
['142', '6.9', '3.1', '5.1', '2.3', 'Iris-virginica']
['143', '5.8', '2.7', '5.1', '1.9', 'Iris-virginica']
['144', '6.8', '3.2', '5.9', '2.3', 'Iris-virginica']
['145', '6.7', '3.3', '5.7', '2.5', 'Iris-virginica']
['146', '6.7', '3.0', '5.2', '2.3', 'Iris-virginica']
['147', '6.3', '2.5', '5.0', '1.9', 'Iris-virginica']
['148', '6.5', '3.0', '5.2', '2.0', 'Iris-virginica']
['149', '6.2', '3.4', '5.4', '2.3', 'Iris-virginica']
['150', '5.9', '3.0', '5.1', '1.8', 'Iris-virginica']

## 2.介紹：
### iris資料集裡面塞的是總共150筆的3種鳶尾花，每筆資料記載有以下資訊：
#### {SepalLength(花萼長度)、SepalWidth(花萼寬度)、PetalLength(花瓣長度)、PetalWidth(花瓣寬度)、Sepcies(鳶尾花品種)}

##  3.資料預處理
### 運用pandas處理csv檔案

In [3]:
import pandas as pd
import numpy as np
from io import StringIO

In [4]:
iris = pd.read_csv('iris/iris.csv')

In [5]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### 用X來儲存鳶尾花的長度、寬度等資料，當作Feature特徵值。
### 用Y來儲存鳶尾花的品種名稱，當作Label資料類別。

In [6]:
X = iris.drop(columns=['Id','Species'])
Y = iris.drop(columns=['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'])

In [7]:
Y

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

### 將X與Y做訓練與測試資料的切割。

In [8]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.3)

In [9]:
Y_train

             Species
88   Iris-versicolor
82   Iris-versicolor
47       Iris-setosa
137   Iris-virginica
51   Iris-versicolor
..               ...
13       Iris-setosa
60   Iris-versicolor
80   Iris-versicolor
77   Iris-versicolor
21       Iris-setosa

[105 rows x 1 columns]

### 將Y的訓練與測試資料做OneHotEncoding。
#### 這裡運用pandas模組的get_dummies方法。
#### get_dummies()與OneHotEncoder()差別在於，get_dummies可以直接轉換字串為0,1；
#### 而OneHotEncoder()轉換字串需要先進行Label Encoding。

#### 資料來源：https://reurl.cc/E7jNa1  -->使用Pandas進行One hot encoding章節

In [10]:
from keras.utils import np_utils
from sklearn.preprocessing import OneHotEncoder

Y_train_OneHot = pd.get_dummies(Y_train)
Y_test_OneHot = pd.get_dummies(Y_test)

Using TensorFlow backend.
D:\anaconda\ac\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
D:\anaconda\ac\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
D:\anaconda\ac\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
D:\anaconda\ac\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
D:\anaconda\ac\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
D:\anaconda\ac\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
D:\anaconda\ac\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
D:\anaconda\ac\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
D:\anaconda\ac\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
D:\anaconda\ac\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
D:\anaconda\ac\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
D:\anaconda\ac\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:
pd.DataFrame(Y_test_OneHot)

     Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
71                     0                        1                       0
108                    0                        0                       1
61                     0                        1                       0
120                    0                        0                       1
121                    0                        0                       1
83                     0                        1                       0
7                      1                        0                       0
134                    0                        0                       1
109                    0                        0                       1
116                    0                        0                       1
66                     0                        1                       0
143                    0                        0                       1
62                     0                        1                       0
22                     1                        0                       0
57                     0                        1                       0
55                     0                        1                       0
93                     0                        1                       0
124                    0                        0                       1
44                     1                        0                       0
74                     0                        1                       0
140                    0                        0                       1
148                    0                        0                       1
20                     1                        0                       0
41                     1                        0                       0
149                    0                        0                       1
141                    0                        0                       1
86                     0                        1                       0
40                     1                        0                       0
39                     1                        0                       0
146                    0                        0                       1
128                    0                        0                       1
145                    0                        0                       1
117                    0                        0                       1
118                    0                        0                       1
81                     0                        1                       0
85                     0                        1                       0
126                    0                        0                       1
25                     1                        0                       0
1                      1                        0                       0
76                     0                        1                       0
34                     1                        0                       0
6                      1                        0                       0
45                     1                        0                       0
48                     1                        0                       0
89                     0                        1                       0

### X_train、X_test標準化

In [12]:
X_train_normalize = X_train / 255
X_test_normalize = X_test / 255
len(X_test_normalize)

45